<html>
    <head>
        {% load static %}
        <title>Add Job</title>
        <link rel="stylesheet"  href="{% static 'Add.css' %}">
    </head>
    <body>
        {% block content %}
        <div class ="topnav">
            <a  href="../Home/home2.html">Home</a>
            <a class="active" href="./Add.html">Add job</a>
            <a  href="../admin/Edit.html">Edit Job</a>
            <a href="page4.html">Company Jobs</a>
            <a id="login-register-link" href="../Login.html">Login / Register</a>
            <a id="logout-link" href="#" style="display: none ">Logout</a>
           </div>
    <br>
    <br>
        <form class="form" method="post" >
            {% csrf_token %}
            <div>
                <h1>Add Job</h1>
            </div>
            <div>
                <input id="id" type="number" placeholder="Enter Job ID" required name="job_id">
            </div>
            <div>
                <input id="tit" type="text" placeholder="Enter Job Title" required name="title">
            </div>
            <div>
                <input id="num" type="number" placeholder="Enter Salary" required name="salary">
            </div>
            <div>
                <input id="name" type="text" placeholder="Enter Company Name" required name="company_name">
            </div>
            <div>
                <select name="status" id="stat" required>
                    <option value="" disabled selected>Select Status</option>
                    <option value="open">Opened</option>
                    <option value="closed">Closed</option>
                </select>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        {% endblock %}
    </body>
</html>