{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Job Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'jobs/css/search.job.style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <a href="{% url 'home2' %}">Home</a>
        <a class="{% if active == 'search_job' %}active{% endif %}" href="{% url 'search_job' %}">Available jobs</a>
        <a class="{% if active == 'my_applications' %}active{% endif %}" href="{% url 'my_applications' %}">My applications</a>
        {% if user.is_authenticated %}
            <a id="logout-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a id="login-register-link" href="{% url 'login' %}">Login / Register</a>
        {% endif %}
    </div>
    
    {% block content %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>